@font-face {
    font-family: latin;
    src: url(font/Latin.ttf);
}

@font-face {
    font-family: han;
    src: url(font/SourceHanSansCN-VF.otf.woff2);
}

* {
    margin: 0;
    padding: 0;
    font-family: latin, han;
}

#usersets {
    position: absolute;
    top: -80px;
}

/* 板体 */

#iron-plate {
    --width: 440px;

    position: fixed;
    top: calc(50% - 70px);
    left: calc(50% - 0.5 * var(--width));
    width: var(--width);
    height: 140px;
    border-radius: 10px;
    background: var(--bg);
}

#info {
    --edge: 1.5px;
    --border: calc(2 * var(--edge));

    position: absolute;
    top: var(--edge);
    left: var(--edge);
    overflow: hidden;
    width: calc(var(--width) - 2 * (var(--edge) + var(--border)));
    height: calc(140px - 2 * (var(--edge) + var(--border)));
    border: var(--border) solid var(--text);
    border-radius: 10px;
}

.new-energy#iron-plate {
    --width: 480px;
}

.new-energy #info {
    --edge: 2px;
}

/* 字体 */

.bit {
    --l-space: 12px;

    float: left;
    margin: 20.5px 0 0 var(--l-space);
    height: 90px;
    line-height: 90px;
    color: var(--text);
    font-size: 45px;
    text-align: center;
}

.bit:first-child {
    margin-left: 10.5px;
}

.char-cn {
    position: relative;
    top: 2px;
    width: 45px;
    transform: scale(1, 1.92);
    font-weight: bold;
}

.red {
    color: #ed1b24;
}

.char {
    width: 45px;
    transform: scale(1.85, 2.5);
}

.num {
    width: 45px;
    transform: scale(2.2, 2.5);
}

.dot {
    font-family: 微软雅黑;
    width: 10px;
    transform: scale(2.2);
}

.new-energy .bit {
    --l-space: 9px;
}

.new-energy .bit:first-child {
    margin-left: 11px;
}

.new-energy .char,
.new-energy .num {
    width: 43px;
}

.new-energy .dot {
    width: 31px;
    transform: scale(0.8);
    background: url(https://img1.imgtp.com/2023/01/29/pemv5YeA.png) no-repeat center;
    background-size: contain;
    color: transparent;
}

.new-energy.big .dot {
    background: url(https://img1.imgtp.com/2023/01/29/CoyS6K99.png) no-repeat center;
    background-size: contain;
}

.emergency .dot {
    transform: scale(2.2);
    background: none;
    color: var(--text);
}

/* 大型新能源汽车适配 */

.big #shield {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: -1;
    width: 332px;
    height: 120px;
    background: #6fbb68;
    border-radius: 10px;
}

/* 固定孔 */

.hole div {
    --h-edge-l: 96px;

    position: absolute;
    width: 23px;
    height: 8px;
    border: 0.1px solid #888888;
    border-radius: 4px;
    background: white;
}

.hole div:nth-child(1) {
    top: 8.5px;
    left: var(--h-edge-l);
}

.hole div:nth-child(2) {
    top: 8.5px;
    right: var(--h-edge-l);
}

.hole div:nth-child(3) {
    bottom: 8.5px;
    left: var(--h-edge-l);
}

.hole div:nth-child(4) {
    bottom: 8.5px;
    right: var(--h-edge-l);
}

.new-energy .hole div {
    --h-edge-l: 116px;
}

.new-energy.big .hole div {
    --h-edge-l: 101px;
}

/* 移动端适配 */

@media screen and (max-width: 500px) {
    #presets {
        transform: scale(1.33);
    }

    #iron-plate {
        transform: scale(0.75);
    }
}